html {
    background-color: white;
    background-image: 
    linear-gradient(45deg, rgba(2, 92, 110, 0.2) 50%, transparent 50%),
    linear-gradient(135deg, rgba(10, 111, 151, 0.2) 50%, transparent 50%);
background-size: 50px 50px;
}

body { 
    font-family: sans-serif;
}

html > body > ul {
    display: flex;
    background-color: rgb(21, 123, 142);
    padding:15px;
    justify-content: space-around;
    flex-direction: row;
}

body > ul > a {
    color: white;
}
body > h1{
    background-color: rgb(21, 123, 142);
    text-align: center;
    color: white;
}

body > div {
    background-color: rgb(21, 123, 142);
    color: white;
    padding: 5px
}

.p1, .p2 {
    align-items: center;
    text-align: center;
    width: 70%;
    background-color:  rgb(21, 123, 142);
    margin-left: 15%;
    padding: 5px;
    /* height: 25px */
}

.submit-button{
    align-content: center;
    margin: 5px;
    margin-left: 15%;
    width: 70%;
}

.winner {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color:  rgb(21, 123, 142);
}