{% extends "base.html" %}

{% block content %}

<h1>Welcome</h1>
<div>
    Rules:
    Each player makes a choice between rock, paper and scissors. Each choice only beats one other choice. The only 2 outcomes are one player wins or a draw due to both players choosing the same. The following list shows which 
    <ul>
        <li>Rock beats Scissors</li>
        <li>Paper beats Rock</li>
        <li>Scissors beats Paper</li>
    </ul> 
<div>
<h3>
    <a href="https://en.wikipedia.org/wiki/Rock_paper_scissors">Wiki on Rock Paper Scissors</a>
</h3>
{% endblock %}